<h1>Who is Brendan Eich?</h1>
<h2>JavaScript Founder</h2>
<p>Post his educational pursuits and a few professional gigs, Eich was hired by Netscape Communications Corporation in 1995. 
    He got the responsibility of creating a prototype for a programming language for the Netscape browser. While this may sound all jolly to you, he was only given 10 days to do the same. 
    And the stakes at risk, did not give the JavaScript creator any respite. The newly launched Microsoft 95 became a serious threat to Netscape and some fast action was the only way out.
     His superiors instructed him to create a language that closely resembled Java, but was lightweight and more approachable to the non- professionals. 
    A similar DNA, but with slight modifications, thus, became the goal. In fact, the JavaScript creator even referred to his creation as the ‘silly little brother language’. 
    Against all odds, Brendan Eich created JavaScript in just 10 days and did one hell of a job. It has come to be the most widely used programming language and a special favourite for most developers.</p>

<h3>What Would He do Differently?</h3>
<p>Reflecting upon his journey as the JavaScript creator Brendan Eich recently talked about what he would’ve done differently, 
    had he been developing JavaScript now. Dismissing the speculations of people about asking for more time, 
    Eich wished to have been more selective in listening to feedback from in-house testers. 
    According to the JavaScript creator some feedback was very vital and effective. However, other times it was just a waste of time. 
    However, as a 23 year old, and with the paucity of time, Eich had a hard time differentiating between the good and bad advice. 
    Thus, for Brendan Eich was to compel and help people understand how the small JavaScript seed could unfold into a full language. 
    In the midst, he came across some ‘well- wishers’ who were obstacles to the standardization. 

</p>
<h4>The Future Plan</h4>
  <p>The JavaScript creator has big plans for Brave in the near future. 
      He has his eyes set on reaching a user base of 10 million from the current 6 million in the next couple of months. 
      The objective is to diversify the user base to include middle to senior age users. They may not understand the importance of data security, 
      but would definitely identify with the idea of rewards and benefits. 
      However, the Brave model is not all hurting to the publisher as well. 
      In case the user permits the ad, he/she receives the cyrptographic tokens which the publishers can receive as donations. 
      Therefore, Brave follows a tripartite model for its success with users, advertisers and publishers at its centre.  
      To cut a long story short, the story of JavaScript creator, Brendan Eich is nothing if not inspiring. 
      Right from his first stint at creating a programming language to heading Brave, an internet security company redefining the browsing experience, 
      he has seen all the highs and lows. At this juncture, budding developers consider Eich a role model and look up to him to drive their journey to success. </p>
