<h1>What are JavaScript Callbacks?</h1>
<h2>Understanding JavaScript Callbacks?</h2>
<p>Callbacks in JavaScript are functions that are passed as 
    arguments to other functions. This is a very important 
    feature of asynchronous programming, and it enables the 
    function that receives the callback to call our code when 
    it finishes a long task, while allowing us to continue the 
    execution of the code.
  
  <li>In JavaScript, functions are objects. 
      Because of this, functions can take functions as arguments, 
      and can be returned by other functions. Functions that do this 
      are called higher-order functions. Any function that is passed 
      as an argument is called a callback function.</li>
  <li>A JavaScript Callback Function is a function that is passed as 
      a parameter to another JavaScript function, and the callback function 
      is run inside of the function it was passed into</li>
  <li>JavaScript Callback Functions can be used synchronously or asynchronously</li></p>


